@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* {
  "0%, 100%": {
    transform: "translate(-50%, -50%) scale(1)",
  },
  "50%": {
    transform: "translate(-50%, -50%) scale(0.9)",
  },
}, */

@theme inline {
  --animate-ripple: ripple 3s linear infinite;

  @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

@theme inline {
  --animate-wiggle: wiggle 5s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
  }

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.126 0.026 268.939);
  --muted: oklch(0.885 0.01 276.021);
  --muted-foreground: oklch(0.464 0.025 275.387);
  --popover: oklch(0.992 0 161.565);
  --popover-foreground: oklch(0.114 0.022 268.251);
  --card: oklch(0.992 0 161.565);
  --card-foreground: oklch(0.114 0.022 268.251);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --primary: oklch(0.567 0.237 267.896);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.915 0.011 276);
  --secondary-foreground: oklch(0.388 0.043 274.435);
  --accent: oklch(0.866 0.024 275.781);
  --accent-foreground: oklch(0.335 0.052 273.604);
  --destructive: oklch(0.63 0.256 29.629);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.567 0.237 267.896);
  --chart-1: oklch(0.567 0.237 267.896);
  --chart-2: oklch(0.915 0.011 276);
  --chart-3: oklch(0.866 0.024 275.781);
  --chart-4: oklch(0.94 0.008 276.055);
  --chart-5: oklch(0.565 0.244 267.612);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.134 0.016 272.261);
  --foreground: oklch(0.991 0.001 276.148);
  --muted: oklch(0.249 0.013 275.396);
  --muted-foreground: oklch(0.691 0.023 275.711);
  --popover: oklch(0.144 0.019 273.129);
  --popover-foreground: oklch(1 0 180);
  --card: oklch(0.144 0.019 273.129);
  --card-foreground: oklch(1 0 180);
  --border: oklch(0.278 0.03 256.848);
  --input: oklch(0.278 0.03 256.848);
  --primary: oklch(0.567 0.237 267.896);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.186 0.01 275.429);
  --secondary-foreground: oklch(0.728 0.027 275.646);
  --accent: oklch(0.269 0.031 274.373);
  --accent-foreground: oklch(0.798 0.032 275.616);
  --destructive: oklch(0.62 0.232 29.041);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.567 0.237 267.896);
  --chart-1: oklch(0.567 0.237 267.896);
  --chart-2: oklch(0.186 0.01 275.429);
  --chart-3: oklch(0.269 0.031 274.373);
  --chart-4: oklch(0.217 0.013 275.322);
  --chart-5: oklch(0.565 0.244 267.612);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
