.header {
  height: 100vh;
  padding: 20px;
  gap: 8rem;
  margin-bottom: 10rem;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-top: 10rem;
}

.infoContainer {
  flex: 1;
  padding-right: 20px;
  display: flex; 
  flex-direction: column; 
}

.laptop {
  width: 100%;
  max-width: 500px;
}

.infoContainer h1 {
  font-size: 2.5rem;
  margin: 0 0 10px 0;
}

.infoContainer p {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  line-height: 1.5;
}

.infoContainer p:last-child {
  margin-bottom: 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar__logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.language-selector {
  color: white;
}

.language-selector__dropdown {
  padding: 8px;
  background-color: var(--link-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
language-selector__dropdown option {
  color: transparent;
}
language-selector__dropdown option:hover {
  color: transparent;
}

.language-selector__dropdown:focus {
  outline: none;
}
/* Media Queries */
@media (max-width: 1200px) {
  .header {
    gap: 4rem;
  }
}

@media (max-width: 992px) {
  .header {
    gap: 2rem;
  }

  .infoContainer,
  .imageContainer {
    max-width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .infoContainer {
    margin-bottom: 2rem;
    align-items: center; /* Center-align on smaller screens */
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }
  .infoContainer h1 {
    font-size: 2rem; /* Adjust heading size */
  }

  .infoContainer p {
    font-size: 1rem; /* Adjust paragraph size */
  }
}

@media (max-width: 576px) {
  .header {
    padding: 15px;
    margin-top: 2rem;
  }

  .infoContainer h1 {
    font-size: 1.5rem; /* Adjust heading size */
  }

  .infoContainer p {
    font-size: 0.9rem; /* Adjust paragraph size */
  }

  .navbar {
    align-items: flex-start;
  }
}
