:root {
  /* Background Colors */
  --background-color: rgb(35, 37, 46); 
  --background-darker: #121212; 
  --primary-text-color: #e0e0e0; 
  --secondary-text-color: #a0a0b0;
  --highlight-text-color: #00b0ff; 

  --link-color: #00b0ff; 
  --accent-color: #c0c0c0; 
  --button-hover-color: #ff8c00; 

  --border-color: #2e2e3f;
  --header-color: #ff8c00; 

  --light-color: #e6e6e6; 
  --muted-color: rgba(255, 255, 255, 0.2); 

  --highlight-color: #ffcc00;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  color: var(--header-color);
}

a {
  color: var(--link-color);
}

button {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border: 1px solid var(--border-color);
}

.border {
  border-bottom: 1px solid var(--border-color);
}
